# Summary Statistics

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../datasets/final-df-cs-10-reviews.csv')

In [4]:
df.head()

,game,nr_reviews,user_avg_grade,user_sentiment_var,critic_avg_grade,critic_sentiment_var,critic_volume,genre,console,is_action,is_pc
0,a-hat-in-time-pc,11,90.416667,0.567230,79.282051,0.466825,41.0,Action,pc,1,1
1,a-plague-tale-innocence-pc,14,89.056604,0.459017,80.843750,0.552898,33.0,General,pc,0,1
2,a-plague-tale-innocence-playstation-4,12,86.610169,0.531837,82.491525,0.472003,63.0,General,playstation-4,0,0
3,aliens-colonial-marines-xbox-360,13,42.250000,0.811619,48.234043,0.639638,47.0,Action,xbox-360,1,0
4,amnesia-a-machine-for-pigs-pc,14,55.000000,0.793005,71.593220,0.607532,59.0,Action Adventure,pc,0,1

In [5]:
df = df[['game', 'nr_reviews', 'user_sentiment_var', 'critic_sentiment_var', 'user_avg_grade', 'critic_avg_grade', 'critic_volume', 'genre', 'console']]

In [6]:
df.head()

,game,nr_reviews,user_sentiment_var,critic_sentiment_var,user_avg_grade,critic_avg_grade,critic_volume,genre,console
0,a-hat-in-time-pc,11,0.567230,0.466825,90.416667,79.282051,41.0,Action,pc
1,a-plague-tale-innocence-pc,14,0.459017,0.552898,89.056604,80.843750,33.0,General,pc
2,a-plague-tale-innocence-playstation-4,12,0.531837,0.472003,86.610169,82.491525,63.0,General,playstation-4
3,aliens-colonial-marines-xbox-360,13,0.811619,0.639638,42.250000,48.234043,47.0,Action,xbox-360
4,amnesia-a-machine-for-pigs-pc,14,0.793005,0.607532,55.000000,71.593220,59.0,Action Adventure,pc

In [7]:
round(df.describe(), 2).loc[['mean', 'std']]

,nr_reviews,user_sentiment_var,critic_sentiment_var,user_avg_grade,critic_avg_grade,critic_volume
mean,14.25,0.64,0.50,67.02,78.91,50.06
std,8.18,0.16,0.11,20.35,10.22,27.16

In [8]:
round(df.corr(), 2)

,nr_reviews,user_sentiment_var,critic_sentiment_var,user_avg_grade,critic_avg_grade,critic_volume
nr_reviews,1.00,0.00,0.13,-0.05,-0.10,0.16
user_sentiment_var,0.00,1.00,0.26,-0.53,-0.21,-0.15
critic_sentiment_var,0.13,0.26,1.00,-0.05,-0.33,-0.22
user_avg_grade,-0.05,-0.53,-0.05,1.00,0.43,0.21
critic_avg_grade,-0.10,-0.21,-0.33,0.43,1.00,0.22
critic_volume,0.16,-0.15,-0.22,0.21,0.22,1.00